# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\.vs/EnergyExcess/v14/\.suo

*.pdb

*.db

Intermediate/AssetRegistryCache/

Intermediate/Build/ActionHistory\.bin

Intermediate/Build/Unused/EnergyExcess\.log

Intermediate/Build/BuildRules/EnergyExcessModuleRulesSourceFiles\.txt

Intermediate/Build/Win64/EnergyExcessEditor/DebugGame/

*.buildmutex

*.response

Intermediate/CachedAssetRegistry\.bin

Intermediate/Config/CoalescedSourceConfigs/

Saved/Logs/EnergyExcess\.log

Intermediate/Build/Win64/UE4Editor/DebugGame/EnergyExcess/

*.exp

Intermediate/Build/Win64/UE4Editor/Inc/EnergyExcess/

Saved/Autosaves/PackageRestoreData\.json

Saved/Config/CrashReportClient/UE4CC-Windows-E4A7B64F4D479A16CEE4D4888013906B/CrashReportClient\.ini

Intermediate/ReimportCache/
